<div class="home-content">
  <h1>ბლოგი</h1>
  <img src="../../../assets/images/Blog-1024x355 1.png" alt="redberry photo" />
</div>
<div class="blog-container">
  <div class="categories-buttons">
    <button
      *ngFor="let category of categories"
      class="category-button"
      [ngStyle]="{ backgroundColor: category.background_color }"
    >
      {{ category.title }}
    </button>
  </div>
  <div class="blogs-box">
    <div class="blog" *ngFor="let blog of blogs">
      <img src="../../../assets/images/unsplash_lmCajireIn8.png" alt="" />
      <div class="author-date-box">
        <p class="blog-author">{{ blog.author }}</p>
        <p class="blog-date">{{ blog.publish_date }}</p>
      </div>
      <p class="blog-title">{{ blog.title }}</p>
      <button
        class="category-button"
        *ngFor="let ctgr of blog.categories"
        [ngStyle]="{ backgroundColor: ctgr.background_color }"
      >
        {{ ctgr.title }}
      </button>
      <p class="blog-description">
        6 თვის შემდეგ ყველის ბრმა დეგუსტაციის დროც დადგა. მაქსიმალური
        სიზუსტისთვის, ეს პროცესი...
      </p>
      <a [routerLink]="'/blogs/' + blog.id"> სრულად ნახვა</a>
    </div>
  </div>
</div>
