<div class="blog-container">
  <div class="categories-buttons">
    <button
      *ngFor="let category of categories"
      class="category-button"
      [ngStyle]="{ color: category.backgroundColor }"
    >
      {{ category.title }}
    </button>
  </div>
  <div class="blogs-box">
    <div class="blog">
      <img src="../../../assets/images/unsplash_lmCajireIn8.png" alt="" />
      <p>ნია გოგსაძე</p>
      <p>02.11.2023</p>
      <p>EOMM-ის მრჩეველთა საბჭოს ნინო ეგაძე შეუერთდა</p>
      <p>
        6 თვის შემდეგ ყველის ბრმა დეგუსტაციის დროც დადგა. მაქსიმალური
        სიზუსტისთვის, ეს პროცესი...
      </p>
      <a href="#">სრულად ნახვა</a>
    </div>
  </div>
</div>

<!-- <button (click)="getBlogs()">blogs</button> -->
