.categories-buttons {
  margin-top: 100px;
  display: flex;
  justify-content: center;
  gap: 24px;
}

.category-button {
  font-family: "FiraGo", sans-serif;
  font-weight: 500;
  padding: 8px 16px 8px 16px;
  border-radius: 30px;
  border: none;
  cursor: pointer;
}

.blogs-box {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Display 4 items in 1 row */
  width: 80%;
  margin: 0 auto;
  margin-top: 100px;
}

.blog {
  width: 408px;
}
