<div class="blog-container">
  <img
    src="../../../assets/images/Arrow.png"
    alt="back photo"
    [routerLink]="'/blogs'"
    class="back-button"
  />
  <div class="blog-box">
    <img src="{{ blog.image }}" alt="blog image" class="blog-image" />
    <div class="blog-info">
      <p class="blog-author">{{ blog.author }}</p>
      <p class="blog-date-email">{{ blog.publish_date }} • {{ blog.email }}</p>
      <p class="blog-title">{{ blog.title }}</p>
    </div>
    <button
      class="category-button"
      *ngFor="let ctgr of blog.categories"
      [ngStyle]="{ color: ctgr.background_color }"
    >
      {{ ctgr.title }}
    </button>
    <p class="blog-desc">{{ blog.description }}</p>
  </div>
</div>
